/* FONTS CSS font-family: 'Roboto Slab', serif;
 font-family: 'Raleway', sans-serif; */




* body {
  margin: 0 auto;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, p, li, a {
  font-family: 'Raleway';
  color: #414042;
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
}

a {
  font-size: 1em;
}

a:hover {
  text-decoration: none;
  color: #28211F;
}

p, li {
  font-weight: 300;
  font-size: 1em;
  margin-block-start: 0;
  margin-block-end: 0;

}

hr {
  margin-top: .2em;
  margin-bottom: .2em;
}

ul {
  padding-inline-start: 20px;
}

/* BACKGROUNDS DIAGONALS */
.gray {
  background-image: url("images/bg_diag_up_gray.svg");
  margin-bottom: -3px;
  /* margin-left: -2;
  margin-right: -2; */
  background-repeat: no-repeat;
  background-position: bottom;
  display: block;
}

.gray2 {
  background-image: url("images/bg_diag_up_gray_2.svg");
  margin-top: -3px;
  /* margin-left: -2;
  margin-right: -2; */
  background-repeat: no-repeat;
  background-position: top;
}

.green {
  background-image: url("images/bg_diag_up_green.svg");
  margin-bottom: -3px;
  /* margin-left: -2;
  margin-right: -2; */
  background-repeat: no-repeat;
  background-position: bottom;
  height: 170px;
}

.green2 {
  background-image: url("images/bg_diag_up_green_2.svg");
  margin-top: -3px;
  /* margin-left: -2;
  margin-right: -2; */
  background-repeat: no-repeat;
  background-position: top;
  height: 180px;
}

.white {
  background-image: url("images/bg_diag_up_white.svg");
  margin-top: -3px;
  /* margin-left: -2;
  margin-right: -2; */
  background-repeat: no-repeat;
  background-position: top;
  height: auto;
  padding-top: -170px;
}

/* TEXT-BOXES */
.sub-title {
  padding-bottom: 60px;
  text-align: center;
}

.sub-title h2 {
  margin-bottom: 20px;
}

/* BUTTONS */
.test
{
    position:relative;
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    margin-top: -100px; /* whatever offset this needs to be */
}


.bt {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #414042;
  padding: 4px 15px 4px;
  transition: 0.2s;
  margin-top: 10px;
}

.bt:hover {
  background-color: #E5F1D4;
}

.bt-iniciacao {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #414042;
  padding: 4px 15px 4px;
  transition: 0.2s;
  margin-top: 10px;
}

.bt-iniciacao:hover {
  color: white;
  background-color: #197D36;
  border: 1px solid #197D36;
}

.bt-escola {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #414042;
  padding: 4px 15px 4px;
  transition: 0.2s;
  margin-top: 10px;
}

.bt-escola:hover {
  color: white;
  background-color: #C9252C;
  border: 1px solid #C9252C;
}

.bt-preco-escola {
  background-color: #C9252C;
  border: 1px solid #C9252C;
  color: white;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  padding: 4px 15px 4px;
  transition: 0.2s;
  margin-top: 10px;
}

.bt-preco-escola:hover {
  background-color: rgba(181, 25, 30, 1);
  border: 1px solid rgba(181, 25, 30, 1);
  color: white;
}

.bt-preco2 {
  display: inline-block;
  font-size: 14px;
  color: #414042;
  border: 1px solid #414042;
  padding: 4px 15px 4px;
  margin-top: 5px;
}

.bt-preco-iniciacao {
  display: inline-block;
  font-size: 14px;
  background-color: #197D36;
  color: white;
  border: 1px solid #197D36;
  padding: 4px 15px 4px;
  transition: 0.2s;
}

.bt-preco-iniciacao:hover {
  background-color: rgba(25, 125, 54, 1);
  border: 1px solid rgba(25, 125, 54, 1);
  color: white;
}

/* GALERIA FOTOS */
.carousel {
  margin: 0 auto;
  max-width: 1024;
}
.carousel2 {

  max-width: 100%;
}

.carousel img {
  display: block;
  height: 400px;
  margin: 0 10px;
}

.carousel2 img {
  display: block;
  weight: 100%;

}

/* SECTION  */
.main-c {
  margin: 0 auto;
  max-width: 1024px;
}

.main {
  margin: 0 auto;
  max-width: 1024px;
}

.space{
  padding: 80 0;
}

.space-top{
  padding-top: 80;
}

.space-bottom{
  padding-bottom: 80;
}

/* MENU */
.logo {
  width: 180px;
}

.navbar {
  padding: 0;
  margin: 30px 0;
}

.navbar li {
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #414042;
}

.nav-item {
  padding-left: 25px;
}

.navbar-nav {
  /* background-color: #F1F2F2; */
}

.nav-link {
  text-transform: uppercase;
  text-align: right;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(41, 40, 42, 1);
}

/* HERO SECTION  */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero-title {
  flex: 1 1 40%;
  padding-right: 10px;
  padding-top: 12%;
  align-self: stretch;
}

.hero-img {
  text-align: right;
  flex: 1 1 60%;
}

.hero-img img {
  width: 100%;
}

/* INTRO SECTION*/
.bg-gray {
  background-color: #F1F2F2;
}

.intro {
  display: flex;
  flex-wrap: wrap;
}

.intro-intro {
  flex: 1;
  flex-wrap: wrap;
}

.intro-intro p {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
}

.intro-txt {
  flex: 2;
  display: flex;
}

.intro-txt p {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  font-size: 1em;
  /* text-align: justify; */
  padding-left: 20px;
  line-height: 1.7;
}

/* BENEFICIOS SECTION */
.benefits {
  display: flex;
  flex-wrap: wrap;
  padding: 22% 0 6%;
}

.benefits-img {
  flex: 1.3 1 350px;
}

.benefits-img img {
  width: 100%;
}

.benefits-card {
  padding-left: 50px;
  align-self: center;
  flex: 1 1 300px;
  margin: 20px 0;
}

/* CURSOS SECTION */
.bg-green {
  background-color: #E5F1D4;
}

.cursos h1 {
  text-align: center;
  margin-bottom: 100px;
}

.cursos-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}

.cursos .cursos-card:not(:last-child) {
  margin-bottom: 100px;
}

.cursos-desc {
  flex: 2 1 150px;
  align-self: center;
  margin: 0 7%;
}

.cursos-img {
  flex: 1 1 150px;
  max-width: 100%;
}

.cursos-img img {
  max-width: 100%;
}

/* EMPRESA SECTION */
.empresa {
  display: flex;
  flex-wrap: wrap;
}

.empresa-img {
  flex: 1 1 350px;
  order: 2;
}

.empresa-img img {
  width: 100%;
}

.empresa-card {
  padding-right: 30px;
  align-self: center;
  flex: 2 1 300px;
  order: 1;
}

/* EMPRESAS SECTION */

.empresas h2 {
  text-align: center;
  padding-bottom: 50px;
}

.logos-empresas img {
  width: 100px;
  margin: 0 25px;
  border-radius: 100%;
}

.logos-empresas {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* SECION CONVITE */
.convite {
  text-align: center;
  padding-left: 9%;
  padding-right: 9%;
}

.convite a {
  margin-top: 30px;
}

/* FOOTER */
.bg-gray2 {
  background-color: #414042;
}

.social-footer {
  padding: 60px 10%;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-footer img {
  width: 30px;
  margin: 20px 20px;
}

/* --------------------------------------------------
-----------------PÁGIAS INTERNAS -----------------
-------------------------------------------------- */
/* TOPO SECTION */
.topo-pg-bg {
  display: block;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding-top: 17.31374606505771%;
}

.title-pg h1 {
  text-align: center;
  margin-bottom: 60px;
}

.title-pg h2 {
  text-align: center;
  margin-bottom: 60px;
}




/* SOBRE SECTION */
.sobre-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.sobre-img {
  width: 49%;
}

.sobre-img2 {
  width: 32%;
}

.sobre-1 img{
width: 100%;
}
.sobre-img-2{
  text-align: right;
}

.team{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-card{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 47%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;

}

.team-card-items{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-between;
}

.team-photo {
  width: 39%;
}

.team-photo img{
  width: 100%
}

.team-desc{
  width: 57%;
}

.team-desc h3{
  margin-top: 5%;
}

/* CURSOS SECTION */
.gray-box-flex {
  /* display: flex;
   flex-wrap: wrap; */
  justify-content: space-around;
}

.class {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80 auto 0;
}

/* .class1 {
  margin-top: 20px;
} */

.class ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0;
}

.class-box-main {
  padding-right: 6%;
  margin: 0 7%;
  flex: 1;
  max-width: 285px;
  border-right: 2px solid white;
}

.class-box {
  padding: 20px 10px;
  margin: 0 auto;
  text-align: center;
  max-width: 280px;
  min-width: 240px;
}

.content {
  flex: 1;
  margin: auto 0;
  min-width: 220px;
  max-width: 475px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  border-bottom: 2px solid white;
  padding-bottom: 40px;
}

.skills div {
  margin: 0 10 20;
}

.skills p {
  font-weight: 600;
}

.curso-inclui {
  margin: 80px 0;
  display: flex;
  flex-wrap: wrap;
}

.desc-cursos {
  display: flex;
  flex-wrap: wrap;
}

.desc-cursos-box {
  display: flex;
  flex-wrap: wrap;
}

.desc-cursos-img {
  flex: 1 1 350px;
  order: 2;
}

.desc-cursos-img img {
  max-width: 100%;
}

.desc-curos-card {
  padding-right: 30px;
  align-self: center;
  flex: 2 1 300px;
  order: 1;
}

.bg-video-escola {
  background: #C9252C;
  text-align: center;
}

.bg-video-iniciacao {
  background: #197D36;
  text-align: center;
}

.main-video {
  margin: 0 auto;
  max-width: 1024px;
}

.iframe-container {
  position: relative;
  text-align: center;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.turmas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.turmas-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  background-color: white;
  text-align: center;
  max-width: 300px;
  min-width: 200px;
  border: 0px solid #414042;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
}

.turmas-card h3 {
  background-color: #C9252C;
  color: white;
  padding: 10px 0;
  width: 100%;
}

.turmas-card p {
  padding: 0 10px;
  width: 90%;
}

/* CALENDARIO */
.c-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.c-cards::after {
  content: "";
  width: 650px;
}

.c-cards-items {
  width: 290px;
  margin: 0 10 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-self: flex-start;
  background-color: white;
}

.c-cards-items img {
  width: 100%;
}

.c-card-content {
  display: flex;
  flex-direction: column;
  min-height: 195px;
  margin: 15px 15px;
}

.c-card-top-1 {
  background-color: #C9252C;
  text-align: center;
  padding: 8px;
  color: white;
}

.c-card-top-2 {
  background-color: #197D36;
  text-align: center;
  padding: 8px;
  color: white;
}

.c-card-info {
  font-size: 12px;
  font-weight: bold;
  color: #C9252C;
  font-style: italic;
}

.c-card-title {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}

.c-card-dtl {
  font-size: 14px;
  font-weight: 400;
  flex-grow: 1;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1024px) {
  .main-c {
    margin: 0 5%;
  }

  .main {
    margin: 60px 5%;
  }

  .green {
    height: 115px;
  }

  p {
    font-size: 0.9em;
  }

  li {
    font-size: 0.9em;
  }

  h1 {
    font-size: 2em;
  }

  /* INTRO SECTION */
  .intro-intro p {
    font-size: 1em;
  }

  .intro-txt p {
    font-size: 0.9em;
  }

  /* BENEFICTS SECTION */
  .benefits-card {
    padding-left: 50px;
  }

  /* CURSOS SECTION */
  /* EMPRESAS SECTION */
  .empresas h2 {
    padding-top: 50px;
  }

  /* CONVITE SECION */
  /* .convite {
    margin: 80px 0px;
  } */
  .iframe-container {
    padding-bottom: 56.25%;
  }
}

@media only screen and (max-width: 768px) {
  .main-c {
    margin: 0 5%;
  }

  .green {
    height: 90px;
  }

  p {
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  .bt {
    margin-top: 5px;
  }

  /* INTRO SECTION */
  .intro {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  /* CURSOS SECION */
  .cursos h1 {
    margin-bottom: 60px;
  }

  .cursos-desc {
    margin: 2% 4%;
  }

  .green2 {
    height: 150px;
  }

  /* EMPRESA SECION */
  .empresas {
    padding-bottom: 60px;
  }

  /* CONVITE SECION */
  .convite {
    margin: 10% 0;
  }
}

@media only screen and (max-width: 425px) {
  .green2 {
    height: 70px;
  }

  /* HERO SECTION */
  .hero {
    display: block;
  }

  .hero-title {
    padding-right: 0px;
  }

  .hero-img img {
    width: 100%;
    margin-top: 40px;
  }

  .bt {
    margin-top: 20px;
  }

  /* INTRO SECTION*/
  .intro {
    display: block;
  }

  .intro-txt {
    display: block;
  }

  .intro-intro p {
    text-align: left;
  }

  .intro-txt p {
    padding: 20px 0 0;
  }

  /* BENEFICIOS SECTION */
  .benefits {
    display: block;
    padding: 120px 0px 10px;
  }

  .benefits-card {
    padding-left: 0px;
  }

  /* CURSOS SECTION */
  .cursos {
    padding: 5% 0 15%
  }

  .cursos h1 {
    text-align: center;
    margin: 50px 0 50px;
  }

  .cursos-card {
    display: block;
  }

  .cursos-desc {
    padding: 10% 0;
  }

  .cursos .cursos-card:not(:last-child) {
    margin-bottom: 60px;
  }

  /* EMPRESA SECTION */
  .empresa {
    display: block;
    padding-bottom: 50px;
  }

  .empresa-card {
    padding-right: 0;
    padding-top: 20px;
  }

  /* EMPRESAS SECTION */
  .empresas {
    padding: 0 0 40px;
  }

  /* PAGINAS INTERNAS */
  .desc-curos-card {
    padding-right: 0;
  }

  .skills {
    display: block;
    padding-bottom: 60px;
  }

  .class-box-main {
    border: 0;
    padding-right: 0;
  }

  .content {
    text-align: center;
    padding-top: 70;
    border-top: 2px solid white;
    margin-top: 60px;
  }
}
